{% extends 'users/base.html'%}

{% block content %}

<div id="content" , name="content" , class="main">
    <div class="row justify-content-center">
        <div class="center">


            <div class="row justify-content-center">
                <div class="center">
                    <h2>Update Meal</h2>
                </div>
            </div>
            <br>
            <div>
                <form action="" method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" value="Update Meal">
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock %}